@import "tailwindcss";

@theme {
  --color-brand-dark: #002b49;
}


@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-heading {
    font-family: 'Manrope', sans-serif;
  }
}

@layer utilities {
  .text-gold-gradient {
    background: linear-gradient(to right, #fbbf24, #d97706);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-gold-gradient {
    background: linear-gradient(to right, #fbbf24, #d97706);
  }

  /* Custom scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}